.delivery-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: "Arial", sans-serif;
    margin-left: 480px;
    margin-top: 0; 
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .delivery-items-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .delivery-item-card {
    background-color: #ddd;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    width: 600px;
    color: black;
  }
  
  .delivery-item-card h3 {
    margin: 0 0 10px;
  }
  
  .otp-section {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  input[type="text"] {
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 100px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
  }
  
  .delivery-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 200px;
}
