.profile-container {
    max-width: 900px; 
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f91a;
    text-align: center;
    margin-left: 450px; 
}

.profile-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.profile-container p {
    font-size: 20px; 
    margin: 15px 0;
}


.profile-edit-form label {
    display: block;
    margin-bottom: 10px;
}

.profile-edit-form input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-actions button {
    margin-right: 8px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-actions button:hover {
    background-color: #0056b3;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 0.5rem 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-right: 1rem;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.navbar ul li a:hover {
    background-color: #575757;
}
